on: [push, pull_request]

name: Test

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Test VM
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path crates/dash_vm/Cargo.toml --features eval # no --all-features because jit
      - name: Benchmark VM
        run: cargo bench -p dash_vm --features eval -- --output-format bencher | tee output.txt
      - name: Store output
        uses: benchmark-action/github-action-benchmark@v1.15.0
        with:
          name: Benchmarks
          tool: "cargo"
          output-file-path: output.txt
